.footer__icon-github {
  background-image: url("../../../images/GitHub-Mark-Light-32px.png");
  background-size: 100%;
  width: 25px;
  height: 25px;
  background-repeat: no-repeat;
}

.footer__icon-github:hover {
  opacity: 80%;
  cursor: pointer;
  border: solid 0.1px lightblue;
}
