@import url("./__title/footer__title.css");
@import url("./__subtitle/footer__subtitle.css");
@import url("./__icons/footer__icons.css");
@import url("./__icon-linkedin/footer__icon-linkedin.css");
@import url("./__icon-github/footer__icon-github.css");
@import url("./__box2/footer__box2.css");
@import url("./__box1/footer__box1.css");

.footer {
  position: relative;
  z-index: 1;
  opacity: 80%;
  border-top: solid rgba(255, 255, 255, 0.6);
  padding: 30px;
  width: 95%;
  display: flex;
  align-items: baseline;
}

@media screen and (max-width: 600px) {
  .footer {
    flex-direction: column;
  }
}
