@import url(../vendor/normalize.css);
@import url(../vendor/font/font.css);
@import url(../blocks/header/header.css);
@import url(../blocks/footer/footer.css);

.lobster {
  font-family: "Lobster", "Inter", "Arial Narrow Bold", sans-serif;
}

.footer__color {
  background-color: #00b3b3;
  padding: 20px 20px 0px 20px;
  display: flex;
  justify-content: space-between;
  align-content: center;
}

@media screen and (max-width: 600px) {
  .footer__color {
    padding: 5px 5px 0 5px;
    flex-direction: column;
  }
}

.page {
  background-color: #101010;
  color: #fff;
  width: 100%;
  font-family: "Inter", "Arial Narrow Bold", sans-serif;
  position: relative;
}

.hidden {
  visibility: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.9);
}

.construction {
  border-radius: 10px;
  width: 80%;
  position: absolute;
  z-index: 1;
  top: 50px;
  right: 50px;
  background-image: url("https://images.unsplash.com/photo-1503980850968-b7c3b4af0e05?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=719&q=80");
}
.construction__title {
  width: 70%;
  text-align: right;
  margin-right: 30px;
  font-size: 50px;
  color: #fff;
}
.construction__button {
  position: absolute;
  left: 30px;
  top: 30px;
  padding: 10px;
  border-radius: 10px;
  border: solid 0.3px #fff;
}
.construction__button:hover {
  border: solid 0.3px rgba(255, 255, 255, 0.8);
  color: rgba(255, 255, 255, 0.8);
  cursor: pointer;
  border: solid 0.1px lightskyblue;
}

.content {
  top: 0;
  bottom: 0;
  z-index: 2;
  background-color: #101010;
  color: #fff;
  overflow: auto;
  width: vw;
}
.projects {
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  height: 100%;
}
.projects__text {
  font-size: 40px;
  text-align: center;
}
.projects__box {
  list-style: none;
  padding: 0;

  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.projects__item {
  border: solid #fff;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 30px;
  max-width: 90%;
  width: 300px;
}

.projects__img {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  border: solid 0.1px #fff;
}

.projects__img:hover {
  border: solid 0.3px rgba(255, 255, 255, 0.8);
  color: rgba(255, 255, 255, 0.8);
  cursor: pointer;
  border: solid 0.1px lightskyblue;
}

.projects__tech {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: right;
  flex-wrap: wrap;
}

.projects__tech-item {
  margin-right: 10px;
  font-size: 15px;
  padding: 8px;
  border: solid #fff 0.2px;
  border-radius: 10px;
}

.projects__tech-link:hover {
  border: solid 0.3px rgba(255, 255, 255, 0.8);
  color: rgba(255, 255, 255, 0.8);
  cursor: pointer;
  border: solid lightskyblue;
}

@media screen and (max-width: 600px) {
  .projects__tech-item {
    font-size: 10px;
    padding: 5px;
    margin-right: 5px;
    border-radius: 5px;
    border: 0.2px solid #fff;
  }
}

a {
  color: #fff;
  text-decoration: none;
}

.before {
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  height: 100%;
}

.before__text {
  margin-top: 50px;
  font-size: 40px;
  text-align: center;
}

.before__box {
  list-style: none;
  padding: 0;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.before__item {
  display: flex;
  width: 80%;
  margin-bottom: 75px;
}
.before__item-title {
  padding: 0;
  margin: 0;
  font-size: 30px;
}
.before__item-img {
  width: 160px;
  height: 160px;
  margin-right: 50px;
  object-fit: contain;
  border-radius: 50%;
  padding: 1px;
  border: solid 0.3px rgba(256, 256, 256, 0.8);
}

.before__item-link {
  border-bottom: solid 0.3px rgba(256, 256, 256, 0.8);
}
.before__item-link:hover {
  border: solid 0.3px rgba(173, 216, 230, 0.8);
  border-radius: 5px;
}
