.header__menu {
  margin-top: 40px;
  display: flex;
  justify-content: start;
  align-content: center;
}

.header__menu-adjust {
  margin-top: 0;
  display: flex;
  justify-content: start;
  align-content: center;
}
