.header__menu-list {
  padding: 10px;
  margin-right: 20px;
  border-radius: 10px;
  border: solid #fff;
  list-style: none;
}

.header__menu-list:hover {
  opacity: 80%;
  cursor: pointer;
  border: solid lightskyblue;
}
