.footer__icon-linkedin {
  background-image: url("../../../images/LI-In-Bug.png");
  background-size: 100%;
  background-position: bottom;
  margin-right: 20px;
  width: 25px;
  height: 25px;
  background-repeat: no-repeat;
}

.footer__icon-linkedin:hover {
  opacity: 80%;
  cursor: pointer;
  border: solid 0.1px lightblue;
}
